<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gardener.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gardener.Settings>
            <setting name="IsMusicEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsSoundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedCharacterPlayer1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedCharacterPlayer2" serializeAs="String">
                <value>2</value>
            </setting>
        </Gardener.Settings>
    </userSettings>
</configuration>